<template>
    <section>
        <div id="filtroBuscar">
            <div id="ContFiltro">
                <v-row class="d-flex justify-start mb-6" width="80">
                    <v-col>
                        <v-text-field id="Codigo"
                            v-model="Codigo"
                            label="Código"
                            :rules="codeRules"
                            :counter="5"
                            outlined
                            dense
                            type="number"
                        ></v-text-field>
                    </v-col>
                    <v-col>
                        <v-select
                        v-model="Tipo"
                        :items="itemsTip"
                        label="Tipo"
                        data-vv-name="Tipo"
                        outlined
                        dense
                    ></v-select>
                    </v-col>
                    <v-col>
                        <v-select
                        v-model="Marca"
                        :items="itemsMarc"
                        label="Marca"
                        data-vv-name="Marca"
                        outlined
                        dense
                    ></v-select>
                    </v-col>
                </v-row>
            </div>
            <div id="ContBot">
                <v-btn
                depressed
                class="btnFondo"
                color="white"
                @click="getBusqueda"
                text
                >
                Buscar Producto
                </v-btn>
            </div>

        </div>
        <div>
             <div id="ResultBusqueda" >
                <div v-for="objProductB in productsB" :key="objProductB.codigo">
                    <FormBuscarDatosV :productB="objProductB" />
                </div> 

            </div>
        </div>
       
    </section>
</template>

<script>
import store from "../store/index.js";
import FormBuscarDatosV from '../components/FormBuscarDatosV'
export default {
    components: {
      FormBuscarDatosV,
    },
    data: () => {
        return {
            productsB: [],
            Codigo: '',
            Tipo: "",
            itemsTip: [
                '',
                'Lácteo',
                'Gaseosa',
                'Galleta',
                'Ponque',
            ],
            Marca: "",
        itemsMarc: [
            '',
            'Alpina',
            'Alquería',
            'Coca-cola',
            'Bimbo',
            'Saltinas',
        ],
        //reglas de form datos
        codeRules: [
            v => v.length <= 5 || 'Código debe tener máximo 5 dígitos',
        ],
        
        }
    },
    methods: {
        getBusqueda(){
            //let LProd = [ Prod1={DirImg:require("C:\\Users\\USER-1\\Documents\\cursoprogramacionmintic\\ciclo3\\proyecto\\código Vue\\catalogo-supermercado\\imagenes productos\\leche-caja-alqueria.jpg"),Name:"leche-caja-alqueria",llave:"Prodct1",Type:"Lácteo",Mark:"Alquería",Code:1234}, Prod2={DirImg:require("C:\\Users\\USER-1\\Documents\\cursoprogramacionmintic\\ciclo3\\proyecto\\código Vue\\catalogo-supermercado\\imagenes productos\\Yogurt-ALPINA-original-fresa.jpg"),Name:"Yogurt-ALPINA-fresa",llave:"Product2",Type:"Lácteo",Mark:"Alpina",Code:2345}, Prod3={DirImg:require("C:\\Users\\USER-1\\Documents\\cursoprogramacionmintic\\ciclo3\\proyecto\\código Vue\\catalogo-supermercado\\imagenes productos\\yogurt-mora-150gr.jpg"),Name:"yogurt-mora-150gr",llave:"Product3",Type:"Lácteo",Mark:"Alpina",Code:3456},Prod4={DirImg:require("C:\\Users\\USER-1\\Documents\\cursoprogramacionmintic\\ciclo3\\proyecto\\código Vue\\catalogo-supermercado\\imagenes productos\\AlpinaBonYurtTrozosdeGalleta.jpg"),Name:"BonYurtTrozosdeGalleta",llave:"Product4",Type:"Lácteo",Mark:"Alpina",Code:4567},Prod5={DirImg:require("C:\\Users\\USER-1\\Documents\\cursoprogramacionmintic\\ciclo3\\proyecto\\código Vue\\catalogo-supermercado\\imagenes productos\\BEBIDA-GASEOSA-ORIGINAL.jpg"),Name:"BEBIDA-GASEOSA-ORIGINAL",llave:"Product5",Type:"Gaseosa",Mark:"Coca-cola",Code:5678}, Prod6={DirImg:require("C:\\Users\\USER-1\\Documents\\cursoprogramacionmintic\\ciclo3\\proyecto\\código Vue\\catalogo-supermercado\\imagenes productos\\del valle-mora.jpg"),Name:"del valle-mora",llave:"Product6",Type:"Gaseosa",Mark:"Coca-cola",Code:6789}, Prod7={DirImg:require("C:\\Users\\USER-1\\Documents\\cursoprogramacionmintic\\ciclo3\\proyecto\\código Vue\\catalogo-supermercado\\imagenes productos\\saltinas-mantequilla.jpg"),Name:"saltinas-mantequilla",llave:"Product7",Type:"Galleta",Mark:"Saltinas",Code:7890},Prod8={DirImg:require("C:\\Users\\USER-1\\Documents\\cursoprogramacionmintic\\ciclo3\\proyecto\\código Vue\\catalogo-supermercado\\imagenes productos\\Ponque-BIMBO-chocoso.jpg"),Name:"Ponque-BIMBO-chocoso",llave:"Product8",Type:"Ponque",Mark:"Bimbo",Code:8900},Prod9={DirImg:require("C:\\Users\\USER-1\\Documents\\cursoprogramacionmintic\\ciclo3\\proyecto\\código Vue\\catalogo-supermercado\\imagenes productos\\ponque-casero-bimbo.jpg"),Name:"ponque-casero",llave:"Product9",Type:"Ponque",Mark:"Bimbo",Code:9001}];
            let LProd = store.state.products;

            if(this.Codigo != ""){
                let xid;
                var existencia = "False";
                this.productsB = [];
                for(xid of LProd){
                    if(this.Codigo == xid.codigo){
                        this.productsB.push(xid);
                        existencia = "True";
                    }
                }
                if(existencia == "False"){
                    alert("No hay producto con ese código")
                }
            }else if(this.Tipo != "" & this.Marca == ""){
                let xid;
                this.productsB = [];
                for(xid of LProd){
                    if(this.Tipo == xid.tipo){
                        this.productsB.push(xid);
                    }
                }
            }else if(this.Tipo == "" & this.Marca != ""){
                let xid;
                this.productsB = [];
                for(xid of LProd){
                    if(this.Marca == xid.marca){
                        this.productsB.push(xid);
                    }
                }
            }else if(this.Tipo != "" & this.Marca != ""){
                let xid;
                this.productsB = [];
                for(xid of LProd){
                    if(this.Tipo == xid.tipo & this.Marca == xid.marca){
                        this.productsB.push(xid);
                    }
                }
            }
            /*
            if(this.Tipo != "" & this.Marca == ""){
                if(this.Tipo == "Lácteo"){
                    let Prod1;
                    let Prod2;
                    let Prod3;
                    this.productsB = [ Prod1={DirImg:require("C:\\Users\\USER-1\\Documents\\cursoprogramacionmintic\\ciclo3\\proyecto\\código Vue\\catalogo-supermercado\\imagenes productos\\leche-caja-alqueria.jpg"),Name:"leche-caja-alqueria",llave:"Prodct1"}, Prod2={DirImg:require("C:\\Users\\USER-1\\Documents\\cursoprogramacionmintic\\ciclo3\\proyecto\\código Vue\\catalogo-supermercado\\imagenes productos\\Yogurt-ALPINA-original-fresa.jpg"),Name:"Yogurt-ALPINA-fresa",llave:"Product2"}, Prod3={DirImg:require("C:\\Users\\USER-1\\Documents\\cursoprogramacionmintic\\ciclo3\\proyecto\\código Vue\\catalogo-supermercado\\imagenes productos\\yogurt-mora-150gr.jpg"),Name:"yogurt-mora-150gr",llave:"Product3"}];
            
                }else if(this.Tipo == "Gaseosa"){
                    let Prod1;
                    let Prod2;
                    this.productsB = [Prod1={DirImg:require("C:\\Users\\USER-1\\Documents\\cursoprogramacionmintic\\ciclo3\\proyecto\\código Vue\\catalogo-supermercado\\imagenes productos\\BEBIDA-GASEOSA-ORIGINAL.jpg"),Name:"BEBIDA-GASEOSA-ORIGINAL",llave:"Product1"}, Prod2={DirImg:require("C:\\Users\\USER-1\\Documents\\cursoprogramacionmintic\\ciclo3\\proyecto\\código Vue\\catalogo-supermercado\\imagenes productos\\del valle-mora.jpg"),Name:"del valle-mora",llave:"Product2"}];
            
                }else if(this.Tipo == "Galleta"){
                    let Prod1;
                    this.productsB = [Prod1={DirImg:require("C:\\Users\\USER-1\\Documents\\cursoprogramacionmintic\\ciclo3\\proyecto\\código Vue\\catalogo-supermercado\\imagenes productos\\saltinas-mantequilla.jpg"),Name:"saltinas-mantequilla",llave:"Product1"}];
                }
            }else if(this.Tipo == "" & this.Marca != ""){
                if(this.Marca == "Coca-cola"){
                    let Prod1;
                    let Prod2;
                    this.productsB = [Prod1={DirImg:require("C:\\Users\\USER-1\\Documents\\cursoprogramacionmintic\\ciclo3\\proyecto\\código Vue\\catalogo-supermercado\\imagenes productos\\BEBIDA-GASEOSA-ORIGINAL.jpg"),Name:"BEBIDA-GASEOSA-ORIGINAL",llave:"Product1"}, Prod2={DirImg:require("C:\\Users\\USER-1\\Documents\\cursoprogramacionmintic\\ciclo3\\proyecto\\código Vue\\catalogo-supermercado\\imagenes productos\\del valle-mora.jpg"),Name:"del valle-mora",llave:"Product2"}];
            
                }else if(this.Marca == "Alquería"){
                    let Prod1;
                    let Prod2;
                    let Prod3;
                    this.productsB = [Prod1={DirImg:require("C:\\Users\\USER-1\\Documents\\cursoprogramacionmintic\\ciclo3\\proyecto\\código Vue\\catalogo-supermercado\\imagenes productos\\leche-caja-alqueria.jpg"),Name:"leche-caja-alqueria",llave:"Product1"}];
            
                }else if(this.Marca == "Alpina"){
                    let Prod1;
                    let Prod2;
                    let Prod3;
                    this.productsB = [Prod1={DirImg:require("C:\\Users\\USER-1\\Documents\\cursoprogramacionmintic\\ciclo3\\proyecto\\código Vue\\catalogo-supermercado\\imagenes productos\\Yogurt-ALPINA-original-fresa.jpg"),Name:"Yogurt-ALPINA-fresa",llave:"Product1"}, Prod2={DirImg:require("C:\\Users\\USER-1\\Documents\\cursoprogramacionmintic\\ciclo3\\proyecto\\código Vue\\catalogo-supermercado\\imagenes productos\\yogurt-mora-150gr.jpg"),Name:"yogurt-mora-150gr",llave:"Product2"}];
                }
            }else if(this.Tipo != "" & this.Marca != ""){
                console.log("Busqueda por dos atributos");
            }*/
        }
    },
    created: () => {
        store.dispatch("getProductos");
    },
    computed: {
        products: () => {
          return store.state.products;
        },
    }

}
</script>

<style>

#filtroBuscar{
    /*background-color: #aed269;*/
    width: 100%;
    height: 150px;
    margin-top: 25px;
    background-color: #f4f4f4;
}

#ContFiltro{
    width: 60%;
    float: left;
    background-color: #f4f4f4;
}

.btnFondo{
  background-color: #724293;
}

#ContBot{
    width: 40%;
    float: right;
    text-align: center;
    background-color: #f4f4f4;
}

#ResultBusqueda{
    /*padding: 30px;*/
    background-color: #f4f4f4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

</style>