<template>
  <div id="fondo">
      <div id="ContTitle">
          <h1>Crear productos</h1>
      </div>
      <div id="ContPrincA">
        
          <div id="ImgCrear">
            <form-crear-img/>
          </div>
          <div id="DatCrear">
            <form-crear-dat/>
          </div>
          
      </div>
      <div id="CrearBT">
        <v-row
          class="d-flex justify-start mb-6"
          
          width="80"
        >
          <v-col align="right">
              <v-btn
              depressed
              color="#724293"
              @click="LeerDat">
              Crear Producto
              </v-btn>
          </v-col>
        </v-row>
      </div>
      
  </div>
</template>

<script>
import FormCrearImg from "../components/FormCrearImg.vue";
import FormCrearDat from "../components/FormCrearDat.vue";
import FormCrearDatos from "../components/FormCrearDatos.vue";

export default {
    components: {
    FormCrearImg,
    FormCrearDat,
    FormCrearDatos,
  },
    data: ()=>{
        return{

        }
    },
    methods: {
      LeerDat(){
        console.log(this.$refs.FormCrearDat);
        

      }

    }
}
</script>

<style>

#ImgCrear{
    float: left;
    width: 40%;
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 50px;
}

#DatCrear{
    float: right;
    width: 50%;
    margin-top: 35px;
    padding-left: 20px;
    padding-right: 120px;
}


#ContTitle{
    background-color: #f4f4f4;
    align-items: left;
    margin-top: 20px;
    margin-bottom: 18px;
    padding-left: 10px;
    
}

#ContPrincA{
  background-color: #f4f4f4;
  height: 830px;
}

#fondo{
  background-color: #f4f4f4;
}
/*
#CrearBT{
  padding-right: 250px;
}*/


</style>