<template>
  <section>
      <!----
      <v-file-input
        label="Escoja la Imagen"
        outlined
        dense
      ></v-file-input>
      
      @change="filesChange($event.target.files)"
      @change="upload($event)"
      webkitdirectory
      ---->
      <div>
          <v-file-input
            :rules="rules"
            id="ImgUpload"
            type="file"
            @change="fileSelected"
            accept="image/png, image/jpeg, image/bmp"
            placeholder="Pick an avatar"
            prepend-icon="mdi-camera"
            label="Escoja la imagen"
          ></v-file-input>
      </div>
      <div id="recevImg">
          <v-img
            max-height="500"
            max-width="600"
            contain
            :src="ResultImg"
          ></v-img>
      </div>
      
  </section>
</template>

<script>
export default {
    data: () => {
      rules: [
        value => !value || value.size < 2000000 || 'Avatar size should be less than 2 MB!',
      ];
      return{
        ResultImg: '../assets/tomates.jpeg',
        selectedFile: null,
        objImg: null,
        p2: null,
      }
    },
    methods: {
        getImgCrear(){
            let DirImg = document.getElementById("ImgUpload").files;
            objectUrl2 = URL.createObjectURL(DirImg[0]);
            let VImg = "<img id='contImg' src='"+objectUrl2+"' />";
            document.getElementById("recevImg").innerHTML = VImg;
            this.ResultImg = '../assets/leche.jpeg';
        },
        fileSelected(evt) {
            //evt.preventDefault();
            console.log(evt);
            console.log(evt.name);
            this.objImg = URL.createObjectURL(evt);
            this.ResultImg = this.objImg;
            //this.ResultImg = require("C:\\Users\\USER-1\\Documents\\cursoprogramacionmintic\\ciclo3\\proyecto\\código\\imagenes productos\\del valle-mora.jpg");
            
        },

    }

}
</script>

<style>

</style>