<template>
    <div id="contImag">
        <h1>{{productB.nombre}}</h1>
        <v-card id="contCard" class="mx-auto" max-width="400">
        <v-img id="contImgn"
            class="white--text align-end"
            height="200px"
            contain
            :src="'img/'+productB.imagen"
        >
            <v-card-title>Producto</v-card-title>
        </v-img>


        <v-card-text class="text--primary">
            <div><span class="negrilla">Descripción: </span> {{productB.descripcion}}</div>
            <div><span class="negrilla">Valor: </span> $ {{productB.valor}}</div>
        </v-card-text>

        <v-card-actions>
            <v-btn color="white" class="btnFondo" @click="DirEdit(productB._id)" text> <v-icon left>mdi-pencil</v-icon>Editar </v-btn>

            <v-btn color="white" class="btnFondo" @click="ActEliminar(productB._id, productB.nombre)" text> <v-icon left>mdi-delete</v-icon>Eliminar </v-btn>
        </v-card-actions>
        </v-card>
        <v-dialog
        v-model="dialog"
        max-width="480"
        >
        <v-card>
            <v-card-title class="text-h5">
            Confirmación de eliminar un producto
            </v-card-title>

            <v-card-text>
            Eliminar el producto: {{this.NombProd}}
            </v-card-text>

            <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn
                color="green darken-1"
                text
                @click="dialog = false"
            >
                Cancelar
            </v-btn>

            <v-btn
                color="green darken-1"
                text
                v-on:click="ConfirmEliminar"
            >
                Aceptar
            </v-btn>
            </v-card-actions>
        </v-card>
        </v-dialog>
    </div>
</template>

<script>
import store from "../store/index.js";
export default {
    props: ["productB"],
    data: () => {
      return {
          dialog: false,
          SelIdP: "",
          NombProd: "",

      }
    },
    methods: {
      DirEdit(idP){
        store.dispatch('putDatEdit', idP).then(()=>{
          this.$router.push('/editar');
        });
      },
      ActEliminar(Pid, Pnombre){
        this.dialog = true;
        this.NombProd = Pnombre;
        this.SelIdP = Pid;
      },
      ConfirmEliminar(){
        let obj = { id: this.SelIdP };
        store.dispatch('eliminarProduct', obj).then(()=>{
            //realiza solicitud get al backend
            store.dispatch("getProductos");
        });
        this.dialog = false;
      }
    }

}
</script>

<style>
h1{
    text-align: center;
    font-size: 2rem;
}

#contImag{
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 20px;
    margin-right: 20px;
}

.btnFondo{
    background-color: #724293;
}

#contCard{
  height: 100%;
  width: 100%;
}

#contImgn{
  height: 30%;
  width: 100%;
  object-fit: contain;
}

.negrilla{
  font-weight: bold;
  font-size: 1rem;
}
</style>