<template>
  <section>
      <validation-observer
      ><!-----
        <v-row class="delimit">
            <v-col cols="4">
                <v-subheader>Código</v-subheader>
            </v-col>
            <v-col cols="8">
                <v-text-field
                    
                    required
                    outlined
                    dense
                ></v-text-field>
            </v-col>
        </v-row>
        <v-row class="delimit">
            <v-col cols="4">
                <v-subheader>Nombre</v-subheader>
            </v-col>
            <v-col cols="8">
                <v-text-field
                    
                    required
                    outlined
                    dense
                ></v-text-field>
            </v-col>
        </v-row>
        ---->
        <v-text-field
                v-model="Codigo"
                label="Código"
                required
                outlined
                dense
        ></v-text-field>
        <v-text-field
                v-model="NombreProducto"
                label="Nombre producto"
                required
                outlined
                dense
        ></v-text-field>
        <v-text-field
                v-model="Descripcion"
                label="Descripción"
                required
                outlined
                dense
        ></v-text-field>
        <v-select
            v-model="Tipo"
            :items="itemsTip"
            
            label="Tipo"
            data-vv-name="Tipo"
            required
            outlined
            dense
        ></v-select>
        <v-text-field
                v-model="Sabor"
                label="Sabor"
                required
                outlined
                dense
        ></v-text-field>
        <v-select
            v-model="Marca"
            :items="itemsMarc"
            
            label="Marca"
            data-vv-name="Marca"
            required
            outlined
            dense
        ></v-select>
        <v-text-field
                v-model="Presentacion"
                label="Presentación"
                required
                outlined
                dense
        ></v-text-field>
        <v-text-field
                v-model="ContenidoNeto"
                label="Contenido Neto"
                required
                outlined
                dense
        ></v-text-field>
        <v-text-field
                v-model="Valor"
                label="Valor"
                required
                outlined
                dense
        ></v-text-field>
      </validation-observer>
  </section>
</template>

<script>
export default {
    data: () => ({
      Codigo: 'hola',
      NombreProducto: '',
      Descripcion: '',
      Tipo: null,
      itemsTip: [
        'Lácteo',
        'Gaseosa',
        'Galleta',
        'Ponque',
      ],
      Sabor: '',
      Marca: null,
      itemsMarc: [
        'Alpina',
        'Alquería',
        'Coca-cola',
        'Bimbo',
      ],
      Presentacion: '',
      ContenidoNeto: '',
      Valor: '',

    }),
    

}
</script>

<style>

.delimit{
    padding: 0px;
}

</style>